/* Hoja de estilos para aplicar Flex box 
*  Aplicamos esta hoja de estilos a contenido HTML de temas
*/

/* Setup  inicial de las cajas div en el container */
body, html {
    margin: 0;
}
body {
    background-color: #dfe7f0;
    font-family: 'Roboto', sans-serif;
}
body a, ul {
    color: black;
    /* color: rgb(228, 228, 228); */
    font-weight: 600;
    
    text-decoration: none;
}
h1 {
    text-align: center;
    font-weight: 400;
}
h1, h2, h3 {
    color: #6B7B6A
    /* color: rgb(104, 55, 55); */
}

ul {
    list-style-type:decimal-leading-zero;
    list-style:none;
}
/****************************************/
#calc-container {
    background-color: rgb(189, 163, 128);
    border-radius: 10%;
    border: 1px solid #286527;
    max-width: 30vw;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}
#calc-container code {
    font-size: 1.2em;
    padding: 0px 10px;
    margin: 0px 0px;
    background-color: lightgray;
}

#calc-container p,
#calc-container div,
#calc-container input,
#calc-container select,
#calc-container label,
#calc-btn {
    display: block;
    margin: 5px auto;
    width: 80%;
    min-height: 1.75em;
    text-align: center;
}

#calc-container label {
    margin: 10px auto -5px;
    
}

#calc-container select {
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    border-color: #286527;
}

#calc-container input {
    background-color: rgb(255, 255, 255);
}

#calc-container div {
    font-size: 2em;
    color: rgb(58, 35, 6); 
    background-color: rgb(209, 173, 129);
    border: 1px solid #286527;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#calc-btn {
    background-color: #286527;
    color: rgb(241, 178, 106);
    box-shadow: 0;
    border: 0;
    border-radius: 5px;
    margin: 15px auto 5px;
}


