

/* Setup  inicial  */

/* Etiquetes */
body, html {
    margin: 0;
}

body {
    background-color: rgba(16, 214, 214, 0.505);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: #902926;
}

hr {
    width: 50%;
}

/****************************************/

/* Container Gran */
#conversor-container {
    background-color: rgba(241, 200, 146, 0.865);
    border-radius: 10%;
    border: 2px solid rgb(85, 8, 8);
    max-width: 30vw;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: block;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;  
}

/* labels */
#conversor-container label {
    margin: 10px auto;
    width:100%;
    font-weight: 500;
    text-align: center;
    display: block;
}

/* Div per on surt el resultat */
.resultat-div {
    font-size: 2em;
    color: rgb(58, 35, 6); 
    background-color: rgb(209, 173, 129);
    border: 3px solid rgb(66, 37, 3);
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap; 
    min-height: 1.75em;
    text-align: center;
    margin: 5px auto;
    width: 80%;
}

#conversor-container select {
    background-color: rgb(250, 215, 169); 
    border: 1px solid rgb(250, 194, 120);
    width: 50%;
    min-height: 1.75em;
    text-align: center;
    margin: 10px auto 5px;
    display: block;
}

/* inputs per on demanem els numeros */
#conversor-container input {
    background-color: rgb(250, 215, 169); 
    border: 1px solid rgb(250, 194, 120);
    width: 50%;
    min-height: 1.75em;
    text-align: center;
    margin: 2px auto 5px;
    display: block;
}

/* Botó pe enviar */
#calc-btn {
    background-color: rgba(33, 33, 164, 0.89);
    color: rgb(241, 178, 106);
    width: 50%;
    min-height: 1.75em;
    border-radius: 5px;
    margin: 15px auto 0px;
    display: block;
}

#reset-btn {
    background-color: rgba(236, 95, 95, 0.89);
    color: rgb(241, 178, 106);
    width: 50%;
    min-height: 1.75em;
    border-radius: 5px;
    margin: 15px auto 0px;
    display: block;
}

/* media queris */
@media (width > 800px){
    #conversor-container div {
        max-width: 450px;
    }
}

@media (width < 300px){
    .resultat-div {
        font-size: 0.5em;
    }
}




