/* Hoja de estilos para aplicar Flex box 
*  Aplicamos esta hoja de estilos a contenido HTML de temas
*/

/* Setup  inicial de las cajas div en el container */
body, html {
    margin: 0;
}
body {
    background-color: rgba(16, 214, 214, 0.505);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    color:brown;
    text-align: center;
    
}

#exemples {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    text-align: center;
}

#exemples div {
    border: 2px solid red; 
    width: 100%;
    min-height: 30px;
    margin: 5px;
    overflow:auto;}