body {
    background-color: bisque;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

main{
    padding: 10px;
    margin: 10px;
    
}

h1 {
    text-decoration: underline;
    color: brown;
    margin-top: 20px;
}

h2 {
    color: rgb(209, 15, 57);
}

a {
    text-decoration: none;
    color: rgb(30, 12, 78);
    padding: 10px ;
    margin: 10px;
    
}

/* Classe general de container. */
.container {
    border: 2px dotted blue; 
    margin: 0 auto;
    display: flex;
    width: 60%;
    height: 100px;
    color: blue;
}

/* Classe tipus container especial menú */
.menu {
    /* border: 2px dotted blue; */
    margin: 0 auto;
    width: 60%;
    height: 150px;
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* divs dins el container */
.contingut {
    border: 1px solid rgb(214, 52, 34); 
    height: 30px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .contingut  {
    width: auto;
    border: 0;
 }

 /* Per fer pràctiques d'alineació dins els containers */
.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.align-top {
    height: 200px;
    flex-direction: column;
    justify-content: flex-start;
}

.align-center {
    height: 200px;
    flex-direction: column;
    justify-content: center;
}

.align-bottom {
    height: 200px;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
    width: 80%;
    height: 150px;
    
}

.flex-wrap .flex-item {
    height: 5vh;
    width: 5vw;
    font-size: 0.6em;
}

.center {
    align-items: center;
}

.dreta {
    align-items: flex-end;
}

/* Wrap */
.wrap-container,
.no-wrap-container {
    border: 2px dashed brown;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 10px;
    flex-direction: row;
    height: 300px;
}
.wrap-container .contingut, 
.no-wrap-container .contingut {
    height: 10vh;
    width: 10vw;
    font-size: 0.6em;
}
.wrap-container {
    flex-wrap: wrap;
}
.no-wrap-container {
    flex-wrap: nowrap;