body {
    background-color: bisque;
    font-family: 'Montserrat', sans-serif;
}

.container {
    border: 2px dotted salmon;
    display: flex;
    height: 100px;
}

.contingut {
    border: 1px solid rgb(214, 52, 34);
    height: 20px;
    width: 50px;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.align-top {
    height: 200px;
    flex-direction: column;
    justify-content: flex-start;
}

.align-center {
    height: 200px;
    flex-direction: column;
    justify-content: center;
}

.align-bottom {
    height: 200px;
    flex-direction: column;
    justify-content: flex-end;
}